body {
  font-family: Arial;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
}

.container {
  width: 800px;
  margin: 30px auto;
  text-align: center;
}

form input, select {
  margin: 5px;
  padding: 8px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.card {
  background: #1f2a40;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}